/* 
    Created on : Apr 13, 2018, 11:36:02 AM
    Author     : julioenglish
*/
#divInput {
    position: fixed;
    background-color: bisque;
    height: 80px;
    width: 230px;
    left: -220px;
    top: 20%;
    border-bottom-right-radius: 12%;
}
#divInput:hover {
    position: fixed;
    background-color: bisque;
    height: 80px;
    width: 230px;
    left: 0%;
    top: 20%;
    border-bottom-right-radius: 12%;
}
.p-edition {
    color: lightsteelblue;
}
input {
    position: relative;
    padding: 12px;
    margin: 20px;
    top: 0%;
    left: 1%;
    width: 160px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}